/* ListEmployeeComponent.css */

.container {
    margin-top: 50px;
  }
  
  .btn-primary {
    background: linear-gradient(to bottom, #4b6cb7, #182848); /* Table background gradient */
    border-color: #007bff; /* Add Employee button border color */
  }
  
  .table {
    background: linear-gradient(to bottom, #4b6cb7, #182848); /* Table background gradient */
    color: white;
  }
  
  .table th,
  .table td {
    border: 1px solid #4b6cb7; /* Table border color */
  }
  
  .btn-info {
    background-color: #17a2b8; /* Update button background color */
    border-color: #17a2b8; /* Update button border color */
  }
  
  .btn-danger {
    background-color: #dc3545; /* Delete button background color */
    border-color: #dc3545; /* Delete button border color */
  }
  